/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;

  background: #eeaeca;
  background: linear-gradient(to right, rgba(212, 93, 147, 0.8) 20%, rgba(68, 200, 233, 0.8) 100%), url("./assets/images/background1.png");
  background-size: cover;

  height: 100% !important;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}
body { margin: 0; font-family: monospace, "Helvetica Neue", sans-serif ;    }

@import '~@angular/cdk/overlay-prebuilt.css';