
header.masthead {
  padding-top: 10rem;

}
header.masthead h1 {
  font-size: 2.25rem;
  font-family: monospace;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;

  }
  header.masthead p {
    font-size: 1.4rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}


img {
  max-width:100%;
max-height:100%;
}


.h1-heading {
  font-size: 2.24rem;
  margin-bottom: 40px;
}

.p-heading {
  font-size: 1.2rem;
}



.myButton {
	box-shadow: 0px 0px 0px 5px #9fb4f2;
	background:linear-gradient(to bottom, #FFFFff 100%, #ffffff 100%, 0.1);
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:14px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.myButton:hover {
  background:linear-gradient(to bottom, #477b9e 100%, #7892c2 100%);
  

}
.myButton:active {
	position:relative;
	top:1px;
}

